.idea/
.vscode/
.ipynb_checkpoints/
.DS_Store
*.pyc
venv*/

dist/
*.egg-info/
build/
gym_anytrading/datasets/data/renko_full_data_81.csv
gym_anytrading/datasets/data/renko_full_data_81_initial.csv
gym_anytrading/datasets/data/renko_full_data_50.csv
gym_anytrading/datasets/data/renko_full_data_65.csv
examples/ppo_test_0.png
examples/ppo_test_10.png
examples/ppo_test_20.png
examples/ppo_test_30.png
examples/ppo_test_40.png
examples/ppo_test_50.png
examples/ppo_test_60.png
examples/ppo_test_70.png
examples/ppo_test_80.png
examples/ppo_test_90.png
examples/ppo_test_100.png
examples/ppo_test_110.png
examples/ppo_test_120.png
